.topBoxesWrapper .divYellow, .topBoxesWrapper .divSalmon, .topBoxesWrapper .divRed, .topBoxesWrapper .divDarkGreen, .topBoxesWrapper .divLightGreen {
  display: grid;
  grid-template-columns: 125px 70px;
  height: 81px;
  width: 195px; }

.smallContainerStyle .sectiontitle h2, .bigContainerStyle .stockTitle h2 {
  margin: 0;
  font-size: 1.3em;
  padding: 3px;
  margin-left: 10px;
  font-weight: normal; }

body {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: "avenir"; }

#wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr; }

.icon-bar {
  height: auto;
  background-color: #e7e7e7; }
  .icon-bar #profile {
    height: 225px;
    background-color: #e7e7e7;
    margin: 20px 20px; }
    .icon-bar #profile p {
      text-align: center; }
  .icon-bar .tablink {
    background-color: #e7e7e7;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 17px;
    font-size: 17px;
    width: 100%;
    text-align: left; }
    .icon-bar .tablink:hover {
      background-color: grey;
      color: #e7e7e7; }
    .icon-bar .tablink .fa-lg {
      padding-right: 12px; }

.tabcontent {
  display: none;
  height: 100%; }

.ticketbar {
  background-color: white;
  height: 9vh;
  border-bottom: 1px solid lightgrey; }
  .ticketbar .logOut {
    background-color: #e7e7e7;
    padding: 7px 14px;
    font-size: 15px;
    margin: 12px 12px;
    cursor: pointer;
    float: right; }
    .ticketbar .logOut:hover {
      background-color: grey; }

.ticketsection {
  padding: 23px; }
  .ticketsection h1 {
    margin: 0;
    padding-bottom: 5px; }

.topBoxesWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px; }
  .topBoxesWrapper .divYellow {
    background-color: #f8d278; }
  .topBoxesWrapper .divSalmon {
    background-color: #f86e57; }
  .topBoxesWrapper .divRed {
    background-color: #e21f3f; }
  .topBoxesWrapper .divDarkGreen {
    background-color: #537e4c; }
  .topBoxesWrapper .divLightGreen {
    background-color: #b5d775; }

.right {
  text-align: center;
  margin-top: 30px; }

.left {
  text-align: center;
  padding: 12px; }
  .left p {
    margin: -11px;
    color: white; }
  .left h2 {
    font-size: 2em;
    margin: 0;
    color: white;
    font-weight: lighter; }

.sameLine {
  display: inline-block; }

.secondMain {
  width: auto;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 12px;
  margin: 0px 20px 20px 23px; }

.smallContainerStyle {
  background-color: white;
  border: 1px solid lightgrey; }
  .smallContainerStyle .sectiontitle {
    display: grid;
    grid-template-columns: 20vw 11.6vw;
    background-color: #e7e7e7;
    height: 6vh;
    width: 31.6vw; }

.fas {
  text-align: right;
  padding: 8px; }

#toDoInput {
  margin: 20px 5px 0 40px;
  width: 250px;
  height: 25px;
  font-family: "avenir"; }

li {
  list-style-type: none; }

#bouton {
  cursor: pointer;
  border: 1px solid lightgrey;
  padding: 3px 10px;
  font-family: "avenir"; }
  #bouton:hover {
    background-color: grey; }

.theCross {
  cursor: pointer; }

.bigContainerStyle {
  background-color: white;
  border: 1px solid lightgray; }
  .bigContainerStyle .stockTitle {
    display: grid;
    grid-template-columns: 30vw 18vw;
    background-color: #e7e7e7;
    height: 6vh;
    width: 48vw; }

#thirdMain {
  width: auto;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-gap: 12px;
  margin: 0px 20px 20px 23px; }

#fixingChartSize {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0px auto; }

.prodDescriSpot {
  height: auto;
  background-color: white;
  padding-top: 0px; }

.beerInfo {
  height: auto;
  width: auto;
  background-color: white;
  border: 1px solid lightgrey; }

.beerInfoContainer {
  background-color: white;
  border: 1px solid lightgrey;
  height: auto;
  margin: 0 25px 25px 25px;
  display: grid;
  grid-template-columns: 320px auto;
  grid-template-areas: "div1 div2"; }
  .beerInfoContainer .boxLeft {
    display: grid;
    grid-area: div1; }
    .beerInfoContainer .boxLeft img {
      width: 100%; }
  .beerInfoContainer .boxRight {
    display: grid;
    grid-area: div2;
    padding: 25px 52px 25px 52px; }
    .beerInfoContainer .boxRight h2 {
      margin: 0 150px 20px 150px;
      text-align: center;
      font-weight: normal;
      border-bottom: 1px solid grey; }
    .beerInfoContainer .boxRight h3 {
      margin: 0;
      text-align: right;
      font-weight: lighter; }
    .beerInfoContainer .boxRight .overallText {
      margin: 0 0 20px 0;
      text-align: center;
      line-height: 30px; }
    .beerInfoContainer .boxRight h4 {
      margin: 0; }
    .beerInfoContainer .boxRight .myBtn, .beerInfoContainer .boxRight .myBtn2 {
      display: block;
      margin: 0 auto;
      width: 100px;
      height: 40px;
      cursor: pointer;
      border: 1px solid lightgrey;
      padding: 10px;
      background-color: #e7e7e7; }
      .beerInfoContainer .boxRight .myBtn:hover, .beerInfoContainer .boxRight .myBtn2:hover {
        background-color: white; }
  .beerInfoContainer .expend {
    display: none;
    margin-top: 30px; }
    .beerInfoContainer .expend h4 {
      font-family: "avenir";
      font-weight: bold; }
    .beerInfoContainer .expend p {
      text-align: justify;
      margin: 5px 15px;
      line-height: 30px;
      padding-bottom: 30px; }
    .beerInfoContainer .expend .mouth {
      width: 4%;
      margin-left: 8px; }
      .beerInfoContainer .expend .mouth .cls-1,
      .beerInfoContainer .expend .mouth .cls-2 {
        stroke: #000;
        stroke-miterlimit: 10; }

.orderTicket {
  height: auto;
  width: auto;
  background: #e7e7e7;
  border: 1px solid lightgrey;
  margin: 0px 24px 20px 22px; }
  .orderTicket .orderIdContainer {
    margin: 5px 23px 5px 15px;
    border-right: 1px solid black;
    width: 170px;
    height: 36px; }
    .orderTicket .orderIdContainer h2 {
      margin: 0;
      font-family: "avenir";
      font-weight: lighter; }
  .orderTicket .orderLengthContainer {
    margin: 12px 60px 0px 14px;
    border-right: 1px solid black;
    width: 102px;
    height: 25px; }
    .orderTicket .orderLengthContainer p {
      margin: 0;
      font-family: "avenir";
      font-weight: normal; }

.moveToRight {
  margin-right: 25px; }

.trial {
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  padding: 20px;
  padding-top: 0px; }

.secondtrial {
  height: 400px;
  background: #e7e7e7;
  border: 1px solid lightgrey; }
  .secondtrial .staffIcon {
    height: 113px;
    width: 98px;
    display: block;
    margin: 28px auto; }
  .secondtrial .staffName, .secondtrial .status, .secondtrial .whichOrder, .secondtrial .doing {
    text-align: center;
    font-family: "avenir"; }
  .secondtrial .status {
    color: #537e4c; }
  .secondtrial .whichOrder {
    margin: 0;
    font-weight: 600; }
  .secondtrial .doing {
    margin: 0; }
  .secondtrial div:nth-child(even) {
    margin-top: 40px; }

#customize {
  font-weight: normal;
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 20px;
  cursor: pointer; }

.modal {
  display: none;
  position: fixed;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .modal-content {
    background-color: #e7e7e7;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 80%; }
    .modal .modal-content .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding-right: 10px; }
      .modal .modal-content .close:hover {
        color: grey;
        text-decoration: none;
        cursor: pointer; }
    .modal .modal-content h3 {
      margin-left: 20px; }

#modalForm {
  background-color: white;
  padding: 20px 35px 35px 35px; }

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: -9px 0 0 0;
  display: inline-block;
  border: 1px solid 1px solid lightgrey;
  box-sizing: border-box; }

.CheckList {
  margin-bottom: 20px; }
  .CheckList .formContainer {
    margin-right: 30px; }
    .CheckList .formContainer input[type=checkbox] {
      cursor: pointer; }

#submit {
  width: 100%;
  background-color: #5d8e56;
  color: white;
  padding: 14px 20px;
  margin: 35px 0 0 0;
  cursor: pointer;
  text-align: center; }
  #submit:hover {
    background-color: #537e4c; }
