$myfont:'avenir';
//COLORS USED
$greybgcolor:#e7e7e7;
$yellow:#f8d278;
$salmon:#f86e57;
$red:#e21f3f;
$darkGreen:#537e4c;
$lightGreen:#b5d775;
$grey:grey;
$whiteBackground:white;
//OTHERS 
$myBorder: 1px solid lightgrey;
$topGridBoxes: 125px 70px;
//SUB_SECTION DEFAULT STYLE

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $myfont;
}

// QUICK REVIEW DASHBOARD SECTION
#wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
    .icon-bar {
        height: auto;
        background-color: $greybgcolor;
        #profile {
            height: 225px;
            background-color: $greybgcolor;
            margin: 20px 20px;
            p {
                font-family: $myfont;
                text-align: center;
            }
        }
        .tablink {
            background-color: $greybgcolor;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 20px 17px;
            font-size: 17px;
            width: 100%;
            text-align: left;
            &:hover {
                background-color: $grey;
                color: $greybgcolor;
            }
            .fa-lg {
                padding-right: 12px;
            }
        }
    }
    #Dashboard {
        background-color: $whiteBackground;
        display: grid;
        grid-template-rows: 10vh 27vh 48vh 48vh;
        .ticketbar {
            background-color: $whiteBackground;
            height: 9vh;
            border-bottom: $myBorder;
            .logOut {
                background-color: $greybgcolor;
                padding: 7px 14px;
                font-size: 15px;
                margin: 12px 12px;
                cursor: pointer;
                float: right;
                &:hover {
                    background-color: $grey;
                }
            }
        }
        .ticketsection {
            padding: 23px;
            h1 {
                margin: 0;
                font-family: $myfont;
                padding-bottom: 5px;
            }
            .topBoxesWrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 10px;
                .topBoxes {
                    height: 81px;
                    width: 195px;
                }
                #inQueue {
                    display: grid;
                    grid-template-columns: $topGridBoxes;
                    background-color: $yellow;
                }
                #served {
                    display: grid;
                    grid-template-columns: $topGridBoxes;
                    background-color: $salmon;
                }
                #totalOrders {
                    display: grid;
                    grid-template-columns: $topGridBoxes;
                    background-color: $red;
                }
                #employees {
                    display: grid;
                    grid-template-columns: $topGridBoxes;
                    background-color: $darkGreen;
                }
                #timeleft {
                    display: grid;
                    grid-template-columns: $topGridBoxes;
                    background-color: $lightGreen;
                }
            }
        }
    }
    #Clients {
        @extend #Dashboard;
        .ticketbar {
            @extend .ticketbar;
            .logOut {
                @extend .logOut;
            }
        }
        .ticketsection {
            @extend .ticketsection;
            h1 {
                @extend h1;
            }
            .topBoxesWrapper {
                @extend .topBoxesWrapper;
                .topBoxes {
                    @extend .topBoxes;
                }
            }
        }
    }
    #Products {
        @extend #Dashboard;
        .ticketbar {
            @extend .ticketbar;
            .logOut {
                @extend .logOut;
            }
        }
        .ticketsection {
            @extend .ticketsection;
            h1 {
                @extend h1;
            }
            .topBoxesWrapper {
                @extend .topBoxesWrapper;
                .topBoxes {
                    @extend .topBoxes;
                }
            }
        }
    }
    #Staff {
        @extend #Dashboard;
        .ticketbar {
            @extend .ticketbar;
            .logOut {
                @extend .logOut;
            }
        }
        .ticketsection {
            @extend .ticketsection;
            h1 {
                @extend h1;
            }
            .topBoxesWrapper {
                @extend .topBoxesWrapper;
                .topBoxes {
                    @extend .topBoxes;
                }
            }
        }
    }
}

#toDo,
#beerPop {
    background-color: white;
    border: 1px solid lightgrey;
    height: 55vh;
    width: 31.6vw;
}

.sectiontitle {
    display: grid;
    grid-template-columns: 20vw 11.6vw;
    background-color: $greybgcolor;
    height: 6vh;
    width: 31.6vw;
}

.sectiontitle h2 {
    font-family: $myfont;
    margin: 0;
    font-size: 1.3em;
    padding: 3px;
    margin-left: 10px;
    font-weight: normal;
}

.sectiontitle .fas {
    text-align: right;
    padding: 8px;
}

#stockSection,
#notsure {
    background-color: white;
    border: 1px solid lightgray;
    height: 55vh;
    width: 48vw;
}

.secondMain {
    width: auto;
    display: grid;
    grid-template-columns: 31.6vw 48vw;
    grid-gap: 16px;
    margin: 0px 20px 20px 23px;
}

.stockTitle {
    display: grid;
    grid-template-columns: 30vw 18vw;
    background-color: $greybgcolor;
    height: 6vh;
    width: 48vw;
}

.stockTitle h2 {
    font-family: $myfont;
    margin: 0;
    font-size: 1.3em;
    padding: 3px;
    margin-left: 10px;
    font-weight: normal;
}

.stockTitle .fas {
    text-align: right;
    padding: 8px;
}

.right {
    text-align: center;
    margin-top: 30px;
}

.left {
    text-align: center;
    padding: 12px;
}

.left p {
    margin: -11px;
    font-family: $myfont;
    color: white;
}

.left h2 {
    font-size: 2em;
    margin: 0;
    font-family: $myfont;
    color: white;
}

#thirdMain {
    width: auto;
    display: grid;
    grid-template-columns: 48vw 31.6vw;
    grid-gap: 16px;
    margin: 0px 20px 20px 23px;
}

#toDoInput {
    margin: 20px;
}

.tabcontent {
    display: none;
    height: 100%;
}

.beerInfo {
    height: auto;
    width: auto;
    background-color: $whiteBackground;
    border: 1px solid lightgrey; //border: 2px solid $greybgcolor;
    //box-shadow: 0 0 15px #777777;
    .container {
        background: $whiteBackground;
        img {
            width: 100%;
            padding:30px;
            display: block; //margin: 10px auto;
        }
    }
    h2 {
        font-family: $myfont;
        text-align: center;
        font-weight: lighter;
    }
    button {
        display: block;
        margin: 20px auto;
        padding:10px;
    }
    h3 {
        font-family: $myfont;
        margin: 5px 15px;
        font-weight: bold;
        padding:10px;
    }
    .appearText,
    .aromaText,
    .flavorText,
    .mouthText,
    .overallText {
        text-align: justify;
        margin: 5px 15px;
        padding: 10px;
        line-height: 30px;
        font-family: $myfont;
    }
}

.prodDescriSpot {
    height: auto;
    background-color: $whiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 23px;
    padding-top: 0px;
}

.trial {
    height: auto;
    background-color: $whiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px;
    padding-top: 0px;
}

.secondtrial {
    height: 400px;
    background: $greybgcolor;
    border: 1px solid lightgrey;
    .staffName {
        text-align: center;
        font-family: $myfont;
    }
    .status {
        @extend .staffName;
        color: $darkGreen;
    }
    .doing {
        @extend .staffName;
        padding: 10px 30px;
        animation: flash linear s infinite;
    }
    @keyframes flash {
        0% {
            opacity: 1;
        }
        50% {
            opacity: .1;
        }
        100% {
            opacity: 1;
        }
    }
}

#circle {
    width: 65%;
    margin: 17px 76px;
    svg {
        background-color: #f0f0f0;
        transform: rotate(-90deg);
        border-radius: 50%;
    }
}

#c1 {
    fill: none;
    stroke: #c30;
    stroke-width: 100;
    stroke-dasharray: 10 314;
}

#c2 {
    fill: none;
    stroke: salmon;
    stroke-width: 100;
    stroke-dasharray: 50 314;
    stroke-dashoffset: -10;
}

#c3 {
    fill: none;
    stroke: #abc;
    stroke-width: 100;
    stroke-dasharray: 43 314;
    stroke-dashoffset: -60;
}

.mouth {
    width: 5%;
}

.staffIcon {
    height: 113px;
    width: 98px;
    display: block;
    margin: 28px auto;
}

li {
    list-style-type: none;
    font-family: $myfont;
}

#toDoInput {
    margin-left: 40px;
    width: 250px;
    height: 25px;
    font-family: $myfont;
}

#bouton {
    cursor: pointer;
    border: $myBorder;
    padding: 3px 10px;
    font-family: $myfont;
    &:hover{
        background-color: $grey;
    }
}

.theCross,
.clicker {
    cursor: pointer;
}

.orderTicket {
    height: auto;
    width: auto;
    background: $greybgcolor;
    border: 1px solid lightgrey;
    margin: 0px 24px 20px 22px;
    p {
        font-family: $myfont;
    }
    &:hover{
        background-color: $grey;
    }
}

.sameLine {
    display: inline-block;
}

.orderIdContainer {
    margin: 5px 23px 5px 15px;
    border-right: 1px solid black;
    width: 170px;
    height: 36px;
    h2 {
        margin: 0;
        font-family: $myfont;
    }
}

.orderLengthContainer {
    margin: 12px 60px 0px 14px;
    border-right: 1px solid black;
    width: 102px;
    height: 25px;
    p {
        margin: 0;
        font-family: $myfont;
        font-weight: normal;
    }
}

.moveToRight {
    margin-right: 25px;
}

.cls-1,
.cls-2 {
    stroke: #000;
    stroke-miterlimit: 10;
}

#expension, .hide{
    display:none;
}
#fixingChartSize{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0px auto;
}

#customize{
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#submit:hover {
    background-color: #45a049;
}

#modalForm{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.formContainer{
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
        }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.formcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.formcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.formcontainer input:checked ~ .checkmark:after {
    display: block;
}

.formcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.formcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.CheckList{
    margin-bottom:20px;
}