//COLORS USED
$greybgcolor:#e7e7e7;
$yellow:#6dbec7;
$salmon:#2f3e76;
$red:#9f3875;
$darkGreen:#e8825b;
$greenSubmitBtn :#eb9371;
$lightGreen:#f1bc6a;
$grey:grey;
$whiteBackground:white;

//OTHERS 
$myBorder: 1px solid lightgrey;
$topGridBoxes: 135px 70px;
$myfont:'avenir';

// SHARED STYLES 
%topBoxesStyle-shared{
    display: grid;
    grid-template-columns: $topGridBoxes;
    height: 81px;
    width: 195px; 
}

%dashboardContainerh2Style-shared{
    margin: 0;
    font-size: 1.3em;
    padding: 3px;
    margin-left: 10px;
    font-weight: normal;
}

%beerInfoTextStyle-shared{
    text-align: justify;
    margin: 5px 15px;
    padding: 10px;
    line-height: 30px;

}

%buttonStyle-shared{
    display:block;
    margin:0 auto;
    width:100px;
    height:45px;
    cursor: pointer;
    border:$myBorder;
    background-color: $greybgcolor;
}

// ------------------------------------------------------------------------------------- //


body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $myfont;
}


// MAIN CONTAINER
#wrapper{ //Main container
    display: grid;
    grid-template-columns: 2fr 10fr;
}

// LEFT SIDE SECTION + NAVIGATION 
.icon-bar { //container on the left side
    height: auto;
    background-color: $greybgcolor;
        #profile { // Profile of the person who logged in
            height: 225px;
            background-color: $greybgcolor;
            margin: 20px 20px;
                p { // Welcome text
                    text-align: center;
                }
        }
    .tablink { // Navigation
        background-color: $greybgcolor;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 17px;
        font-size: 17px;
        width: 100%;
        text-align: left;
            &:hover { // When hovering navigation 
                background-color: $grey;
                color: $greybgcolor;
            }
            .fa-lg { // Icons of the navigation
                padding-right: 12px;
            }
    }
}

.tabcontent { //Used for navigation
    display: none;
    height: 100%;
}

// LOG OUT SECTION 
.ticketbar { // Container of the log out button
    background-color: $whiteBackground;
    height: 9vh;
    border-bottom: $myBorder;
        .logOut { // log out button
            background-color: $greybgcolor;
            padding: 7px 14px;
            font-size: 15px;
            margin: 12px 12px;
            cursor: pointer;
            float: right;
                &:hover { // when log out button is hovered
                    background-color: $grey;
                }
        }
}

// TITLE PAGE SECTION
.ticketsection { //Container for the title
    padding: 23px;
        h1 { // title's section 
            margin:0;
            padding-bottom: 5px;
        }
}

// 5 SMALL COLORFUL BOXES SECTION 
.topBoxesWrapper { // container for the 5 boxes
        display: grid;
        grid-template-columns: repeat(5, 1fr);;
        grid-gap: 10px;
            .divYellow { // Yellow box
                @extend %topBoxesStyle-shared;
                background-color: $yellow;
            }
            .divSalmon { // orange box
                @extend %topBoxesStyle-shared;
                background-color: $salmon;
            }
            .divRed { // Red box
                @extend %topBoxesStyle-shared;
                background-color: $red;
            }
            .divDarkGreen { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color: $darkGreen;
            }
            .divLightGreen { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: $lightGreen;
            }
            .divBleuFonce { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#C4E675;
            }
            .divBleuCiel { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #6cbaae;
            }
            .divJaune { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #a4809f;
            }
            .divRosePale { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#675a89;
            }
            .divFushia { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #006382;
            }

            .div1 { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#c49967;
            }
            .div2 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #b8b8b8;
            }
            .div3 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #7c3264;
            }
            .div4 { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#7e706f;
            }
            .div5 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #99b0a0;
            }

            .div6 { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#58657f;
            }
            .div7 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #898640;
            }
            .div8 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #c3b08c;
            }
            .div9 { // Dark green box
                @extend %topBoxesStyle-shared;
                background-color:#b15d9b;
            }
            .div10 { // Light green box
                @extend %topBoxesStyle-shared;
                background-color: #6c6ec4;
            }

}

.right { // Container for the box's icon
        text-align: center;
        margin-top: 30px;
}
    
.left { // Container for the data of the box
    text-align: center;
    padding: 12px;
        p { // legend of the data 
            margin: -11px;
            color: $whiteBackground;
        }
        h2 { // data fetched inside of the boxes
            font-size: 2em;
            margin: 0;
            color:$whiteBackground;
            font-weight: lighter;
        }
    }

// USED IN ORDERS SECTION AND EMPLOYEE SECTION (order list + form in the modal)
.sameLine { // Keep div on the same line
    display: inline-block;
}
    
// STYLE OF DASHBOARD SECTION  ----------------------------------------------------------------------------

.secondMain { // Container for the to do list + volume of tap beer graph
    width: auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 12px;
    margin: 0px 20px 20px 23px;
}

.smallContainerStyle{ // Styling of the small containers 
    background-color:$whiteBackground;
    border: $myBorder;
        .sectiontitle { // container for the title (small container)
            display: grid;
            grid-template-columns: 20vw 11.6vw;
            background-color: $greybgcolor;
            height: 6vh;
            width: 31.6vw;
                h2 { // title
                    @extend %dashboardContainerh2Style-shared;
                }
        }
}

.fas { // cross icon to close container
    text-align: right;
    padding: 8px;
}

#toDoInput { //Input field of the To Do List
    margin: 20px 5px 0 40px;
    width: 250px;
    height: 25px;
    font-family: $myfont;
}

li { // elements created inside of the ul tag
    list-style-type: none;
}

#bouton { // Input's Button to add something in the to do list
    cursor: pointer;
    border: $myBorder;
    padding: 3px 10px;
    font-family: $myfont;
        &:hover{ // Input's button hovered
            background-color: $grey;
        }
}

.theCross{ // cross symbol to remove an item from the list
    cursor: pointer;
}

.bigContainerStyle{ // Styling of the big containers
    background-color: white;
    border: 1px solid lightgray;
    width: 607px;
        .stockTitle { // container for the title (big container)
            display: grid;
            grid-template-columns: 30vw 18vw;
            background-color: $greybgcolor;
            height: 6vh;
            width: 48vw;
                h2{ // Title of the container
                    @extend %dashboardContainerh2Style-shared;
                }
        }
}


#thirdMain { // Container for the stock graph + beer popularity pie
    width: auto;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 12px;
    margin: 0px 20px 20px 23px;
}

#fixingChartSize{ // container to reduce the pie size
    width: 300px;
    height: 300px;
    display: block;
    margin: 0px auto;
}

// STYLE OF THE PRODUCTS SECTION --------------------------------------------------------------------------

.prodDescriSpot { //Container where the beer template is displayed 
    height: auto;
    background-color: $whiteBackground;
    padding-top: 0px;
        .beerInfoContainer{ // Container for the beer info template
            background-color: $whiteBackground;
            border: $myBorder;
            height: auto;
            margin: 0 25px 25px 25px;
            display: grid;
            grid-template-columns: 320px auto;
            grid-template-areas: 
            "div1 div2";
                .boxLeft { //Container on the left for the image
                    display: grid;
                    grid-area : div1;
                        img{ // image of the beertype
                            width: 100%;
                        }
                }          
                .boxRight{ //Container on the right to display all the beer info 
                    display:grid;
                    grid-area : div2;
                    padding: 25px 52px 25px 52px;
                        h2{ //Beertype name
                            margin:0 150px 20px 150px;
                            text-align: center;
                            font-weight: normal;
                            border-bottom: 1px solid $grey;
                        }
                        h3{ //% of alcohol 
                            margin:0;
                            text-align: right;
                            font-weight: lighter;
                        }
                        .overallText{ // Overall impression text - text displayed outside of extension 
                            margin:0 0 20px 0;
                            text-align: center;
                            line-height:30px;
                        }
                        .myBtn{
                            @extend %buttonStyle-shared;
                            padding:10px;
                                &:hover{ // button in beer info hovered 
                                    background-color: $grey;
                                }
                        }
                        .myBtn2{
                            @extend %buttonStyle-shared;
                            padding:13px;
                                &:hover{ // button in beer info hovered 
                                    background-color: $grey;
                                }
                        }
                        .expend{ // container that shows more detail about the beer
                            display: none;
                            margin-top: 30px;
                                h4 { // title of each beer detail text
                                    font-family: $myfont;
                                    font-weight: bold;
                                }
                                p{ // beer detail text
                                    text-align: justify;
                                    margin: 5px 15px;
                                    line-height: 30px;
                                    padding-bottom: 30px;
                                }
                                .mouth { // lips svg (mouthfeel text) 
                                    width: 4%;
                                    margin-left: 8px;
                                        .cls-1,
                                        .cls-2 {
                                            stroke: #000;
                                            stroke-miterlimit: 10;
                                        }
                                } 
                        }
                } 
        } 
            
}

// STYLE OF THE ORDER SECTION -----------------------------------------------------------------------------

.orderTicket { // Container of the order template
    height: auto;
    width: auto;
    background: $greybgcolor;
    border: 1px solid lightgrey;
    margin: 0px 24px 20px 22px;
        .orderIdContainer { // Container for the order numbers
            margin: 5px 23px 5px 15px;
            border-right: 1px solid black;
            width: 170px;
            height: 36px;
                h2 { // order numbers 
                    margin: 0;
                    font-family: $myfont;
                    font-weight: lighter;
                }
        }
        .orderLengthContainer { // container for the length of the order 
            margin: 12px 60px 0px 14px;
            border-right: 1px solid black;
            width: 102px;
            height: 25px;
                p { // length of the order 
                    margin: 0;
                    font-family: $myfont;
                    font-weight: normal;
                }
        }
}

.moveToRight { // moving detail of orders to the right
    margin-right: 25px;
}

// STYLE OF THE EMPLOYEE SECTION 

.trial { // container for the staff template 
    height: auto;
    background-color: $whiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px;
    padding-top: 0px;
}

.secondtrial { // container of the staff template
    height: 400px;
    background: $greybgcolor;
    border: 1px solid lightgrey;
        .staffIcon { // Container for the icons representing employees
            height: 113px;
            width: 98px;
            display: block;
            margin: 28px auto;
        }
        .staffName { // Staff Name
            text-align: center;
            font-family: $myfont;
        }
        .status { // Status of the employees 
            @extend .staffName;
            color: #898640;
        }
        .whichOrder{ // title -> "order status" 
            @extend .staffName;
            margin:0;
            font-weight: 600;
        }

        .doing { // info about what the employee is doing
            @extend .staffName;
            margin:0;
        }

        div:nth-child(even) { // second div
            margin-top: 40px;
        }
}

#customize{ // text to add more employees 
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.modal { // "external" Container for the form modal 
    display: none; 
    position: fixed;
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
        .modal-content { //Container for the form modal
            background-color:$greybgcolor;
            margin: auto;
            padding: 0px;
            border: 1px solid #888;
            width: 80%;
                .close { // Cross to close the modal 
                    color: #aaaaaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                    padding-right: 10px;
                        &:hover{
                            color: $grey;
                            text-decoration: none;
                            cursor: pointer;                       
                        }
                }
                h3{ //Title of the modal
                    margin-left:20px;
                }
        }
}

#modalForm{ // Container of the form
    background-color:$whiteBackground;
    padding: 20px 35px 35px 35px;
}

input[type=text]{ // employee name field
    width: 100%;
    padding: 12px 20px;
    margin: -9px 0 0 0;
    display: inline-block;
    border: 1px solid $myBorder;
    box-sizing: border-box;
}

.CheckList{ // container for the checkbox list
    margin-bottom:20px;
        .formContainer{ // container for the checkbox + label name
            margin-right:30px;
                input[type=checkbox]{ // checkbox
                    cursor: pointer;
                }
        }
        
} 

#submit { // Submit button of the form
    width: 100%;
    background-color: $greenSubmitBtn;
    color: white;
    padding: 14px 20px;
    margin: 35px 0 0 0;
    cursor: pointer;
    text-align: center;
        &:hover { // Submit button hovered
            background-color:$darkGreen;
        }
}

// --------------------------------------------------------------- //