//COLORS USED
$greybgcolor:#e7e7e7;
$yellow:#f8d278;
$salmon:#f86e57;
$red:#e21f3f;
$darkGreen:#537e4c;
$greenSubmitBtn :#5d8e56;
$lightGreen:#b5d775;
$grey:grey;
$whiteBackground:white;

//OTHERS 
$myBorder: 1px solid lightgrey;
$topGridBoxes: 125px 70px;
$myfont:'avenir';

// SHARED STYLES 
%topBoxesStyle-shared{
    display: grid;
    grid-template-columns: $topGridBoxes;
    height: 81px;
    width: 195px; 
}

%dashboardContainerh2Style-shared{
margin: 0;
font-size: 1.3em;
padding: 3px;
margin-left: 10px;
font-weight: normal;
}

%beerInfoTextStyle-shared{
    text-align: justify;
        margin: 5px 15px;
        padding: 10px;
        line-height: 30px;
}

// ------------------------------------------------------------------------------------- //


body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: $myfont;
}


// MAIN CONTAINER
#wrapper{ //Main container
    display: grid;
    grid-template-columns: 2fr 10fr;
}

// LEFT SIDE SECTION + NAVIGATION 
.icon-bar { //container on the left side
    height: auto;
    background-color: $greybgcolor;
        #profile { // Profile of the person who logged in
            height: 225px;
            background-color: $greybgcolor;
            margin: 20px 20px;
                p { // Welcome text
                    text-align: center;
                }
        }
    .tablink { // Navigation
        background-color: $greybgcolor;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 17px;
        font-size: 17px;
        width: 100%;
        text-align: left;
            &:hover { // When hovering navigation 
                background-color: $grey;
                color: $greybgcolor;
            }
            .fa-lg { // Icons of the navigation
                padding-right: 12px;
            }
    }
}

.tabcontent { //Used for navigation
    display: none;
    height: 100%;
}

// LOG OUT SECTION 
.ticketbar { // Container of the log out button
    background-color: $whiteBackground;
    height: 9vh;
    border-bottom: $myBorder;
    .logOut { // log out button
        background-color: $greybgcolor;
        padding: 7px 14px;
        font-size: 15px;
        margin: 12px 12px;
        cursor: pointer;
        float: right;
            &:hover { // when log out button is hovered
                background-color: $grey;
            }
    }
}

// TITLE PAGE SECTION
.ticketsection { //Container for the title
    padding: 23px;
        h1 { // title's section 
            margin:0;
            padding-bottom: 5px;
        }
}

// 5 SMALL COLORFUL BOXES SECTION 
.topBoxesWrapper { // container for the 5 boxes
        display: grid;
        grid-template-columns: repeat(5, 1fr);;
        grid-gap: 10px;
        .divYellow { // Yellow box
            @extend %topBoxesStyle-shared;
            background-color: $yellow;
        }
        .divSalmon { // orange box
            @extend %topBoxesStyle-shared;
            background-color: $salmon;
        }
        .divRed { // Red box
            @extend %topBoxesStyle-shared;
            background-color: $red;
        }
        .divDarkGreen { // Dark green box
            @extend %topBoxesStyle-shared;
            background-color: $darkGreen;
        }
        .divLightGreen { // Light green box
            @extend %topBoxesStyle-shared;
            background-color: $lightGreen;
        }

    }

.right { // Container for the box's icon
        text-align: center;
        margin-top: 30px;
}
    
.left { // Container for the data of the box
    text-align: center;
    padding: 12px;
        p { // legend of the data 
            margin: -11px;
            color: $whiteBackground;
        }
        h2 { // data fetched inside of the boxes
            font-size: 2em;
            margin: 0;
            color:$whiteBackground;
        }
    }

// USED IN ORDERS SECTION AND EMPLOYEE SECTION (order list + form in the modal)
.sameLine { // Keep div on the same line
    display: inline-block;
}
    

// STYLE OF DASHBOARD SECTION 

#Dashboard { // Main structure of the dashboard section
    background-color: $whiteBackground;
    display: grid;
    grid-template-rows: 10vh 27vh 48vh 48vh;
}

.secondMain { // Container for the to do list + volume of tap beer graph
    width: auto;
    display: grid;
    grid-template-columns: 31.6vw 48vw;
    grid-gap: 16px;
    margin: 0px 20px 20px 23px;
}

.smallContainerStyle{ // Styling of the small containers 
    background-color: white;
    border: 1px solid lightgrey;
    height: 55vh;
    width: 31.6vw;
        .sectiontitle { // container for the title
            display: grid;
            grid-template-columns: 20vw 11.6vw;
            background-color: $greybgcolor;
            height: 6vh;
            width: 31.6vw;
                h2 { // title
                    @extend %dashboardContainerh2Style-shared;
                }
        }
}

.fas { // cross icon to close container
    text-align: right;
    padding: 8px;
}

#toDoInput { //Input field of the To Do List
    margin: 20px 5px 0 40px;
    width: 250px;
    height: 25px;
    font-family: $myfont;
}

li { // elements created inside of the ul tag
    list-style-type: none;
}

#bouton { // Input's Button to add something in the to do list
    cursor: pointer;
    border: $myBorder;
    padding: 3px 10px;
    font-family: $myfont;
    &:hover{ // Input's button hovered
        background-color: $grey;
    }
}

.theCross{ // cross symbol to remove an item from the list
    cursor: pointer;
}

.bigContainerStyle{ //
    background-color: white;
    border: 1px solid lightgray;
    height: 55vh;
    width: 48vw;
        .stockTitle {
            display: grid;
            grid-template-columns: 30vw 18vw;
            background-color: $greybgcolor;
            height: 6vh;
            width: 48vw;
                h2{
                    @extend %dashboardContainerh2Style-shared;
                }
        }
}


#thirdMain { // Container for the stock graph + beer popularity pie
    width: auto;
    display: grid;
    grid-template-columns: 48vw 31.6vw;
    grid-gap: 16px;
    margin: 0px 20px 20px 23px;
}

#fixingChartSize{
    width: 300px;
    height: 300px;
    display: block;
    margin: 0px auto;
}

// STYLE OF THE PRODUCTS SECTION 

.prodDescriSpot {
    height: auto;
    background-color: $whiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 23px;
    padding-top: 0px;
}

.beerInfo {
    height: auto;
    width: auto;
    background-color: $whiteBackground;
    border: 1px solid lightgrey;
        .container {
            background: $whiteBackground;
                img {
                    width: 100%;
                    padding:30px;
                    display: block; //margin: 10px auto;
                }
        }
        h2 {
            font-family: $myfont;
            text-align: center;
            font-weight: lighter;
        }
        button {
            display: block;
            margin: 20px auto;
            padding:10px;
        }
        #expension{
            display:none;
                h3 {
                    font-family: $myfont;
                    margin: 5px 15px;
                    font-weight: bold;
                    padding:10px;
                }
                p{
                    text-align: justify;
                    margin: 5px 15px;
                    padding: 10px;
                    line-height: 30px;
                }
                .mouth {
                    width: 5%;
                        .cls-1,
                        .cls-2 {
                            stroke: #000;
                            stroke-miterlimit: 10;
                        }
                }

        }
}


// STYLE OF THE ORDER SECTION 

.orderTicket {
    height: auto;
    width: auto;
    background: $greybgcolor;
    border: 1px solid lightgrey;
    margin: 0px 24px 20px 22px;
        .orderIdContainer {
            margin: 5px 23px 5px 15px;
            border-right: 1px solid black;
            width: 170px;
            height: 36px;
                h2 {
                    margin: 0;
                    font-family: $myfont;
                }
        }
        .orderLengthContainer {
            margin: 12px 60px 0px 14px;
            border-right: 1px solid black;
            width: 102px;
            height: 25px;
                p {
                    margin: 0;
                    font-family: $myfont;
                    font-weight: normal;
                }
        }
}

.moveToRight {
    margin-right: 25px;
}

// STYLE OF THE EMPLOYEE SECTION 

.trial {
    height: auto;
    background-color: $whiteBackground;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px;
    padding-top: 0px;
}

.secondtrial {
    height: 400px;
    background: $greybgcolor;
    border: 1px solid lightgrey;
    .staffIcon {
        height: 113px;
        width: 98px;
        display: block;
        margin: 28px auto;
    }
    .staffName {
        text-align: center;
        font-family: $myfont;
    }
    .status {
        @extend .staffName;
        color: $darkGreen;
    }
    .whichOrder{
        @extend .staffName;
        margin:0;
        font-weight: 600;
    }

    .doing {
        @extend .staffName;
        margin:0;
    }

    div:nth-child(even) {
        margin-top: 40px;
    }


}

#customize{
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    padding-top: 80px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.4);
        .modal-content {
            background-color:$greybgcolor;
            margin: auto;
            padding: 0px;
            border: 1px solid #888;
            width: 80%;
                .close {
                    color: #aaaaaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                    padding-right: 10px;
                        &:hover{
                            color: $grey;
                            text-decoration: none;
                            cursor: pointer;                       
                        }
                }
        }
}

#modalForm{
    background-color:$whiteBackground;
    padding: 20px 35px 35px 35px;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: -9px 0 0 0;
    display: inline-block;
    border: 1px solid $myBorder;
    box-sizing: border-box;
}

.CheckList{
    margin-bottom:20px;
        .formContainer{
            margin-right:30px;
                input[type=checkbox]{
                    cursor: pointer;
                }
        }
        
} 

#submit {
    width: 100%;
    background-color: $greenSubmitBtn;
    color: white;
    padding: 14px 20px;
    margin: 35px 0 0 0;
    cursor: pointer;
    text-align: center;
        &:hover {
            background-color:$darkGreen;
        }
}

// --------------------------------------------------------------- //

.beerInfoContainer{
    background-color: $whiteBackground;
    border: $myBorder;
    height: auto;
    margin: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-template-areas: 
    "div1 div2"
    "full full";

    .boxLeft {
        display: grid;
        grid-area : div1;
        img{
            width: 90%;
            padding:25px;
        }
    }
    
   .boxRight{
        display:grid;
        grid-area : div2;
        padding: 25px 52px 25px 0;
        overflow:scroll;
            h2{
                margin:0;
            }
            p{
                margin:0;
                text-align: justify;
            }
            h4{
                margin:0;
            }
    } 

    .expend{
        background-color: #537e4c;
        grid-area: full;
    }
}

.beerInfoContainerBis{
    background-color: $whiteBackground;
    border: $myBorder;
    height: 270px;
    margin: 0 25px 25px 25px;
    display: grid;
    grid-template-columns: 300px 2fr;

    .boxLeftBis {
        display: grid;
        img{
            width: 90%;
            padding:25px;
        }
    }
    
   .boxRightBis{
        display:grid;
        padding: 25px 52px 25px 0;
        overflow:scroll;
            h2{
                margin:0;
            }
            p{
                margin:0;
                text-align: justify;
            }
            h4{
                margin:0;
            }
    } 
}